@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.hero_bg {
  background-image: url("/one.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  min-height: 500px;
}
.body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif !important;
  height: 100vh;
}
.brand {
  color: #eb4354 !important;
}
.link {
  color: #eb4354 !important;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  color: #eb4354 !important;
}

/* Hero section btn */
.hero_main_btn {
  background-color: #eb4354;
  color: #ffffff;
  border: #eb4354;
}

.hero_main_btn:hover {
  background-color: #eb4354;
  color: #ffffff;
  border: #eb4354;
}

.hero_sec_btn {
  background-color: #ffffff;
  color: #eb4354;
  border: #eb4354;
  border: 1px solid #eb4354;
}

.hero_sec_btn:hover {
  /* margin-right: 50px; */
  background-color: #ffffff;
  color: #eb4354;
  border: 1px solid #eb4354;
}

/* Hero section btn */

.icon {
  font-size: 20px;
}

.icon:hover {
  font-size: 20px;
  color: #eb4354;
}

.footer {
  min-height: 30vh;
}
